Node-Red/Report_To_PWSWeather_Flow.json
[
    {
        "disabled": false,
        "id": "164f144c.cb50cc",
        "info": "",
        "label": "Publish to PWSWeather.com",
        "type": "tab"
    },
    {
        "active": true,
        "complete": "payload",
        "console": false,
        "id": "2c7409a1.df33f6",
        "name": "Report to be sent",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "msg",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 1150,
        "y": 660,
        "z": "164f144c.cb50cc"
    },
    {
        "finalize": "",
        "func": "// https://pwsupdate.pwsweather.com/api/v1/submitwx?ID=xxx&PASSWORD=xxx%s&dateutc=now&tempf=%.1f&humidity=%.1f&baromin=%.2f&softwaretype=ESP32DIY&action=updateraw\"\n\nmsg.url = \"https://pwsupdate.pwsweather.com/api/v1/submitwx?\";\nmsg.stationname = \"YOUR_STATION_ID\";\nmsg.auth = \"YOUR_API_KEY\";\n\nmsg.payload = \"ID=\" + msg.stationname + \"&PASSWORD=\" + msg.auth + \"&dateutc=now&tempf=\" + msg.payload.temperature + \"&humidity=\" + msg.payload.humidity + \"&baromin=\" + msg.payload.pressure + \"&softwaretype=ESP32DIY&action=updateraw\";\nmsg.url = msg.url+msg.payload;\nreturn msg;\n\n\n\n",
        "id": "5ea0accc.247634",
        "initialize": "",
        "libs": [
        ],
        "name": "Formulate report",
        "noerr": 0,
        "outputs": 1,
        "timeout": "",
        "type": "function",
        "wires": [
            [
                "2c7409a1.df33f6",
                "e9828ed6.1bfec"
            ]
        ],
        "x": 820,
        "y": 660,
        "z": "164f144c.cb50cc"
    },
    {
        "accumulate": false,
        "build": "object",
        "count": "3",
        "id": "e867d58c.27fe98",
        "joiner": "\\n",
        "joinerType": "str",
        "key": "topic",
        "mode": "custom",
        "name": "Gather all readings",
        "property": "payload",
        "propertyType": "msg",
        "reduceExp": "",
        "reduceFixup": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceRight": false,
        "timeout": "",
        "type": "join",
        "wires": [
            [
                "532a2709.1225e8",
                "2ea271a2.78a71e"
            ]
        ],
        "x": 820,
        "y": 440,
        "z": "164f144c.cb50cc"
    },
    {
        "active": true,
        "complete": "payload",
        "console": false,
        "id": "532a2709.1225e8",
        "name": "All readings",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "msg",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 1130,
        "y": 440,
        "z": "164f144c.cb50cc"
    },
    {
        "authType": "",
        "headers": [
        ],
        "id": "e9828ed6.1bfec",
        "insecureHTTPParser": false,
        "method": "GET",
        "name": "Publish report",
        "paytoqs": "ignore",
        "persist": false,
        "proxy": "",
        "ret": "txt",
        "senderr": false,
        "tls": "",
        "type": "http request",
        "url": "",
        "wires": [
            [
                "e02429dc.5cea98"
            ]
        ],
        "x": 840,
        "y": 760,
        "z": "164f144c.cb50cc"
    },
    {
        "active": true,
        "complete": "payload",
        "console": false,
        "id": "e02429dc.5cea98",
        "name": "Reply",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 1110,
        "y": 760,
        "z": "164f144c.cb50cc"
    },
    {
        "active": false,
        "complete": "payload",
        "console": false,
        "id": "1587a23.d47655e",
        "name": "Temperature in Celcius",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "msg",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 520,
        "y": 100,
        "z": "164f144c.cb50cc"
    },
    {
        "finalize": "",
        "func": "msg.payload = msg.payload*0.029529983071445\nreturn msg;",
        "id": "4cf28efa.ffe1b",
        "initialize": "",
        "libs": [
        ],
        "name": "to inHG",
        "noerr": 0,
        "outputs": 1,
        "timeout": "",
        "type": "function",
        "wires": [
            [
                "63a3736a.36575c",
                "762de9e6.81d928"
            ]
        ],
        "x": 780,
        "y": 180,
        "z": "164f144c.cb50cc"
    },
    {
        "active": false,
        "complete": "payload",
        "console": false,
        "id": "63a3736a.36575c",
        "name": "Pressure in inHG",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "msg",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 990,
        "y": 180,
        "z": "164f144c.cb50cc"
    },
    {
        "active": false,
        "complete": "payload",
        "console": false,
        "id": "351f43e0.eb6acc",
        "name": "Humidity",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "msg",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 1460,
        "y": 100,
        "z": "164f144c.cb50cc"
    },
    {
        "action": "",
        "from": "",
        "id": "762de9e6.81d928",
        "name": "Pressure reading set",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "topic",
                "pt": "msg",
                "t": "set",
                "to": "pressure",
                "tot": "str"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "e867d58c.27fe98"
            ]
        ],
        "x": 820,
        "y": 280,
        "z": "164f144c.cb50cc"
    },
    {
        "action": "",
        "from": "",
        "id": "254194ed.7be4ec",
        "name": "temperature reading set",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "topic",
                "pt": "msg",
                "t": "set",
                "to": "temperature",
                "tot": "str"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "e867d58c.27fe98"
            ]
        ],
        "x": 310,
        "y": 280,
        "z": "164f144c.cb50cc"
    },
    {
        "action": "",
        "from": "",
        "id": "df92ff78.21a92",
        "name": "Humidity reading set",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "topic",
                "pt": "msg",
                "t": "set",
                "to": "humidity",
                "tot": "str"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "e867d58c.27fe98"
            ]
        ],
        "x": 1280,
        "y": 280,
        "z": "164f144c.cb50cc"
    },
    {
        "finalize": "",
        "func": "// List all the variables that you want rounded\nvar pressure = msg.payload.pressure;\nvar temperature = msg.payload.temperature;\nvar humidity = msg.payload.humidity;\n// Create a new payload with rounded numbers\nmsg.payload = {\n  pressure: pressure.toFixed(2),\n  temperature: temperature.toFixed(2),\n  humidity: humidity.toFixed(2),\n};\nreturn msg;",
        "id": "2ea271a2.78a71e",
        "initialize": "",
        "libs": [
        ],
        "name": "Round",
        "noerr": 0,
        "outputs": 1,
        "timeout": "",
        "type": "function",
        "wires": [
            [
                "5ea0accc.247634",
                "cc13d797.7e88f8"
            ]
        ],
        "x": 830,
        "y": 560,
        "z": "164f144c.cb50cc"
    },
    {
        "active": true,
        "complete": "payload",
        "console": false,
        "id": "cc13d797.7e88f8",
        "name": "Rounded numbers",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "msg",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 1150,
        "y": 560,
        "z": "164f144c.cb50cc"
    },
    {
        "action": "",
        "from": "",
        "id": "e053342f.f87a78",
        "name": "",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "payload",
                "pt": "msg",
                "t": "set",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "df92ff78.21a92"
            ]
        ],
        "x": 1260,
        "y": 180,
        "z": "164f144c.cb50cc"
    },
    {
        "broker": "09367f6ed870beea",
        "datatype": "auto-detect",
        "id": "2a285b1e3f5f1ca5",
        "inputs": 0,
        "name": "MQTT get temperature",
        "nl": false,
        "qos": "2",
        "rap": true,
        "rh": 0,
        "topic": "WeatherStation-1/temperature",
        "type": "mqtt in",
        "wires": [
            [
                "a71adadf.9db468",
                "1587a23.d47655e"
            ]
        ],
        "x": 220,
        "y": 100,
        "z": "164f144c.cb50cc"
    },
    {
        "broker": "09367f6ed870beea",
        "datatype": "auto-detect",
        "id": "7b595797c3f4ce2c",
        "inputs": 0,
        "name": "MQTT get pressure ",
        "nl": false,
        "qos": "2",
        "rap": true,
        "rh": 0,
        "topic": "WeatherStation-1/pressure",
        "type": "mqtt in",
        "wires": [
            [
                "4cf28efa.ffe1b",
                "cd9d36aff2fd6d59"
            ]
        ],
        "x": 770,
        "y": 100,
        "z": "164f144c.cb50cc"
    },
    {
        "broker": "09367f6ed870beea",
        "datatype": "auto-detect",
        "id": "a9f2e3940309176f",
        "inputs": 0,
        "name": "MQTT get humidity",
        "nl": false,
        "qos": "2",
        "rap": true,
        "rh": 0,
        "topic": "WeatherStation-1/humidity",
        "type": "mqtt in",
        "wires": [
            [
                "e053342f.f87a78",
                "351f43e0.eb6acc"
            ]
        ],
        "x": 1250,
        "y": 100,
        "z": "164f144c.cb50cc"
    },
    {
        "finalize": "",
        "func": "msg.payload = msg.payload*1.8+32\nreturn msg;",
        "id": "a71adadf.9db468",
        "initialize": "",
        "libs": [
        ],
        "name": "to F",
        "noerr": 0,
        "outputs": 1,
        "timeout": "",
        "type": "function",
        "wires": [
            [
                "254194ed.7be4ec",
                "c18c238021ddda08"
            ]
        ],
        "x": 250,
        "y": 180,
        "z": "164f144c.cb50cc"
    },
    {
        "active": false,
        "complete": "payload",
        "console": false,
        "id": "cd9d36aff2fd6d59",
        "name": "Pressure",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "msg",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 1020,
        "y": 100,
        "z": "164f144c.cb50cc"
    },
    {
        "active": false,
        "complete": "payload",
        "console": false,
        "id": "c18c238021ddda08",
        "name": "Temperature in Fahrenheit ",
        "statusType": "auto",
        "statusVal": "",
        "targetType": "msg",
        "tosidebar": true,
        "tostatus": false,
        "type": "debug",
        "wires": [
        ],
        "x": 500,
        "y": 180,
        "z": "164f144c.cb50cc"
    },
    {
        "autoConnect": true,
        "birthMsg": {
        },
        "birthPayload": "",
        "birthQos": "0",
        "birthTopic": "",
        "broker": "localhost",
        "cleansession": true,
        "clientid": "",
        "closeMsg": {
        },
        "closePayload": "",
        "closeQos": "0",
        "closeTopic": "",
        "id": "09367f6ed870beea",
        "keepalive": "60",
        "name": "MQTT",
        "port": "1883",
        "protocolVersion": "4",
        "sessionExpiry": "",
        "type": "mqtt-broker",
        "userProps": "",
        "usetls": false,
        "willMsg": {
        },
        "willPayload": "",
        "willQos": "0",
        "willTopic": ""
    }
]